In [14]:
#importing necessary things
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [15]:
from IPython.display import display
#pd.options.display.max_rows = 60
pd.options.display.max_rows= 60
# pd.set_option('display.max_colwidth', 50)

In [16]:
cohort_map=pd.read_excel('data\CollegeScorecardDataDictionary.xlsx',sheet_name=4)
data_dict = pd.read_excel('data\CollegeScorecardDataDictionary.xlsx', sheet_name=3)
non_null_cols = data_dict[data_dict['developer-friendly name'].notnull()]

# extract developer-friendly name and dev category as colnames dataframe
devnames_cohort = non_null_cols[['developer-friendly name','dev-category', 'NAME OF DATA ELEMENT','VARIABLE NAME']]
devnames_cohort=devnames_cohort.reset_index(drop=True)

# append dev_name and dev_category from colnames to cohort_map
cohort_merge=pd.merge(cohort_map,devnames_cohort, left_on='Variable Name',right_on='VARIABLE NAME')

In [17]:
cohort=pd.concat([cohort_merge.iloc[:,0:1],cohort_merge.iloc[:,16:26]],axis=1)
cohort.columns=['name','2011-12','2012-13','2013-14','2014-15','2015-16','2016-17','2017-18','dev_name','dev_category','info']

In [18]:
Data14 = pd.read_csv("data\MERGED2014_15_PP.csv", na_values=['PrivacySuppressed'])

C:\Users\jeeva\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (6,1729,1909,1910,1911,1912,1913) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [19]:
bach=Data14[(Data14['PREDDEG']==3) & (Data14['SCH_DEG']==3) & (~Data14['INSTNM'].str.contains("Graduate")) 
             &(~Data14['INSTNM'].str.contains("Law School"))].copy()
# drop columns that only have null values
bach=bach.drop(bach[['PREDDEG','SCH_DEG']],axis=1)
bach=bach.dropna(axis=1,how='all')
bach.shape

(2043, 1582)

In [20]:
devnames_data=cohort[cohort['2014-15'].notnull()][['name','dev_name']]
# various abbreviations/renames to shorten the names and keep them understandable
devnames_data.dev_name=devnames_data.dev_name.str.replace('percentile','pctl')
devnames_data.dev_name=devnames_data.dev_name.str.replace('_scores','')
devnames_data.dev_name=devnames_data.dev_name.str.replace('title_iv','t_iv')
devnames_data.dev_name=devnames_data.dev_name.str.replace('yrs_after_entry','yrs_AE')
devnames_data.dev_name=devnames_data.dev_name.str.replace('working_not_enrolled','WNE')
devnames_data.dev_name=devnames_data.dev_name.str.replace('greater_than_','>')
devnames_data.dev_name=devnames_data.dev_name.str.replace('less_than_','<')
devnames_data.dev_name=devnames_data.dev_name.str.replace('percent_','pct')
devnames_data.dev_name=devnames_data.dev_name.str.replace('-plus','+')
devnames_data.dev_name=devnames_data.dev_name.str.replace('by_income_level','by_income')
devnames_data.dev_name=devnames_data.dev_name.str.replace('repayment','repay')
devnames_data.dev_name=devnames_data.dev_name.str.replace('year_declining','yr_declining')
devnames_data.dev_name=devnames_data.dev_name.str.replace('first_generation','1st_gen')
devnames_data.dev_name=devnames_data.dev_name.str.replace('transfer','transf')
devnames_data.dev_name=devnames_data.dev_name.str.replace('110001plus','110001+')
devnames_data.dev_name=devnames_data.dev_name.str.replace('dependent_students','dependent')
devnames_data.dev_name=devnames_data.dev_name.str.replace('percentage','pctg')
devnames_data.dev_name=devnames_data.dev_name.str.replace('program.bachelors','bach')
devnames_data.dev_name=devnames_data.dev_name.str.replace('first_gen','1st_gen')
devnames_data.dev_name=devnames_data.dev_name.str.replace('completion','compl')

In [21]:
collist=pd.DataFrame(bach.columns)

collist.columns=['name']
newcols=list(devnames_data.merge(collist, how='right').iloc[:,1])

renamed=bach.copy()
renamed.columns=newcols
#renaming columns for consistency
renamed=renamed.rename({
    'repay_cohort.1_yr_declining_balance':'1_yr_repay.overall_rate',
    'repay_cohort.3_yr_declining_balance':'3_yr_repay.overall_rate',
    'repay_cohort.5_yr_declining_balance':'5_yr_repay.overall_rate',
    'repay_cohort.7_yr_declining_balance':'7_yr_repay.overall_rate',
    '3_yr_repay_suppressed.overall':'3_yr_repay_suppressed.overall_rate',
    '8_yrs_AE.WNE':'8_yrs_AE.WNE.overall','8_yrs_AE.not_WNE':'8_yrs_AE.not_WNE.overall',
    'loan_principal':'median_debt.overall'},axis=1)

In [22]:
# merging public and private columns together
renamed.loc[:,'avg_net_price.public'].fillna(renamed.loc[:,'avg_net_price.private'],inplace=True)
# rename columns
combining=renamed.rename(columns={'avg_net_price.public': 'avg_net_price'})
# delete private columns, net price by income columns, & t_iv income cohort count columns
combining=combining.drop(['avg_net_price.private'],axis=1)
combining=combining.drop([col for col in combining if 'net_price' in col and 'by_income' in col],axis=1)
combining=combining.drop([col for col in combining if 't_iv' in col and 'by_income' in col],axis=1)
drop_1=combining.drop(['alias', 'ope8_id','ope6_id','demographics.veteran', 'state_fips', 'separation_date.median',
                    'grad_students','retention_rate.four_year.part_time','repay_date.median',
                       'undergrads_non_degree_seeking','undergrads_with_pell_grant_or_federal_student_loan',
                       'valid_dependency_status', 'parents_education_level', 'FAFSA_applications'],
                      axis=1)
#getting rid of some title iv columns irrelevant to our analysis
drop_1=drop_1.drop([col for col in combining if 'died_by' in col], axis=1)
drop_1=drop_1.drop([col for col in drop_1 if 'certificate_lt' in col],axis=1)
drop_1=drop_1.drop([col for col in drop_1 if 'program.assoc' in col], axis=1)
drop_1=drop_1.drop([col for col in drop_1 if 'transf' in col and 't_iv' in col], axis=1)
drop_1=drop_1.drop([col for col in drop_1 if 'unknown' in col and 't_iv' in col], axis=1)
drop_1=drop_1.reset_index(drop=True)
drop_1.shape

(2043, 709)

In [23]:
pd.options.display.max_rows= None #allows us to see more variables
counts=drop_1.count().sort_values().reset_index()
counts.columns=['colu','num']
repay_counts=counts[(counts['colu'].str.contains('yr_repay')) | (counts['colu'].str.contains('repay_cohort'))]
repay_counts.set_index('colu',inplace=True)

In [24]:
drop_1=drop_1.drop([col for col in drop_1 if 'yr_repay' in col and ('overall_rate' not in col or '1' not in col)], axis=1)
# CHECKING ON REPAY VARIABLES AGAIN
counts2=drop_1.count().sort_values().reset_index()
counts2.columns=['colu','num']
repay_counts2=counts2[(counts2['colu'].str.contains('yr_repay'))]
repay_counts2.sort_values(by=['num'])

                        colu   num
433  1_yr_repay.overall_rate  1916

In [25]:
pd.options.display.max_rows= 60 #we don't need to see all of the variables
t_iv_counts=counts[(counts['colu'].str.contains('t_iv')) & (counts['colu'].str.contains('yrs'))]

t_iv_counts.insert(1,'group',t_iv_counts['colu'].str[:-4])
t_iv_counts.insert(2,'yr',t_iv_counts['colu'].str[-4:])
t_iv_counts.sort_values(by=['num'])

,colu,group,yr,num
6,t_iv.loan_recip.still_enrolled_by.8yrs,t_iv.loan_recip.still_enrolled_by.,8yrs,15
7,t_iv.no_loan.still_enrolled_by.8yrs,t_iv.no_loan.still_enrolled_by.,8yrs,16
8,t_iv.high_inc.still_enrolled_by.8yrs,t_iv.high_inc.still_enrolled_by.,8yrs,86
9,t_iv.loan_recip.still_enrolled_by.6yrs,t_iv.loan_recip.still_enrolled_by.,6yrs,106
10,t_iv.no_loan.still_enrolled_by.6yrs,t_iv.no_loan.still_enrolled_by.,6yrs,106
11,t_iv.mid_inc.still_enrolled_by.8yrs,t_iv.mid_inc.still_enrolled_by.,8yrs,110
12,t_iv.no_pell.still_enrolled_by.8yrs,t_iv.no_pell.still_enrolled_by.,8yrs,114
13,t_iv.pell_recip.still_enrolled_by.8yrs,t_iv.pell_recip.still_enrolled_by.,8yrs,114
14,t_iv.independ.still_enrolled_by.8yrs,t_iv.independ.still_enrolled_by.,8yrs,131
15,t_iv.depend.still_enrolled_by.8yrs,t_iv.depend.still_enrolled_by.,8yrs,134
16,t_iv.pell_recip.still_enrolled_by.6yrs,t_iv.pell_recip.still_enrolled_by.,6yrs,180
17,t_iv.no_pell.still_enrolled_by.6yrs,t_iv.no_pell.still_enrolled_by.,6yrs,180
18,t_iv.male.still_enrolled_by.8yrs,t_iv.male.still_enrolled_by.,8yrs,188
19,t_iv.female.still_enrolled_by.8yrs,t_iv.female.still_enrolled_by.,8yrs,190
20,t_iv.1st_gen.still_enrolled_by.8yrs,t_iv.1st_gen.still_enrolled_by.,8yrs,196
21,t_iv.not_1st_gen.still_enrolled_by.8yrs,t_iv.not_1st_gen.still_enrolled_by.,8yrs,196
22,t_iv.low_inc.still_enrolled_by.8yrs,t_iv.low_inc.still_enrolled_by.,8yrs,200
26,t_iv.high_inc.still_enrolled_by.6yrs,t_iv.high_inc.still_enrolled_by.,6yrs,295
27,t_iv.mid_inc.still_enrolled_by.6yrs,t_iv.mid_inc.still_enrolled_by.,6yrs,305
28,t_iv.depend.still_enrolled_by.6yrs,t_iv.depend.still_enrolled_by.,6yrs,335
29,t_iv.independ.still_enrolled_by.6yrs,t_iv.independ.still_enrolled_by.,6yrs,335
30,t_iv.no_loan.withdrawn_by.8yrs,t_iv.no_loan.withdrawn_by.,8yrs,362
31,t_iv.loan_recip.withdrawn_by.8yrs,t_iv.loan_recip.withdrawn_by.,8yrs,362
32,t_iv.still_enrolled_by.8yrs,t_iv.still_enrolled_by.,8yrs,387
34,t_iv.low_inc.still_enrolled_by.6yrs,t_iv.low_inc.still_enrolled_by.,6yrs,411
36,t_iv.female.still_enrolled_by.6yrs,t_iv.female.still_enrolled_by.,6yrs,412
35,t_iv.male.still_enrolled_by.6yrs,t_iv.male.still_enrolled_by.,6yrs,412
37,t_iv.no_loan.still_enrolled_by.4yrs,t_iv.no_loan.still_enrolled_by.,4yrs,433
38,t_iv.loan_recip.still_enrolled_by.4yrs,t_iv.loan_recip.still_enrolled_by.,4yrs,433
39,t_iv.1st_gen.still_enrolled_by.6yrs,t_iv.1st_gen.still_enrolled_by.,6yrs,445
...,...,...,...,...
296,t_iv.female.still_enrolled_by.2yrs,t_iv.female.still_enrolled_by.,2yrs,1748
297,t_iv.male.still_enrolled_by.2yrs,t_iv.male.still_enrolled_by.,2yrs,1748
301,t_iv.1st_gen.completed_by.6yrs,t_iv.1st_gen.completed_by.,6yrs,1749
300,t_iv.no_pell.completed_by.8yrs,t_iv.no_pell.completed_by.,8yrs,1749
299,t_iv.pell_recip.completed_by.8yrs,t_iv.pell_recip.completed_by.,8yrs,1749
298,t_iv.not_1st_gen.completed_by.6yrs,t_iv.not_1st_gen.completed_by.,6yrs,1749
302,t_iv.low_inc.completed_by.8yrs,t_iv.low_inc.completed_by.,8yrs,1750
303,t_iv.1st_gen.completed_by.8yrs,t_iv.1st_gen.completed_by.,8yrs,1752
304,t_iv.not_1st_gen.completed_by.8yrs,t_iv.not_1st_gen.completed_by.,8yrs,1752
305,t_iv.low_inc.completed_by.3yrs,t_iv.low_inc.completed_by.,3yrs,1752
308,t_iv.1st_gen.still_enrolled_by.2yrs,t_iv.1st_gen.still_enrolled_by.,2yrs,1758
309,t_iv.not_1st_gen.still_enrolled_by.2yrs,t_iv.not_1st_gen.still_enrolled_by.,2yrs,1758
311,t_iv.male.completed_by.4yrs,t_iv.male.completed_by.,4yrs,1759
312,t_iv.female.completed_by.4yrs,t_iv.female.completed_by.,4yrs,1759
313,t_iv.completed_by.2yrs,t_iv.completed_by.,2yrs,1760
314,t_iv.low_inc.still_enrolled_by.2yrs,t_iv.low_inc.still_enrolled_by.,2yrs,1760
315,t_iv.low_inc.completed_by.6yrs,t_iv.low_inc.completed_by.,6yrs,1762
324,t_iv.not_1st_gen.completed_by.4yrs,t_iv.not_1st_gen.completed_by.,4yrs,1775
323,t_iv.1st_gen.completed_by.4yrs,t_iv.1st_gen.completed_by.,4yrs,1775
328,t_iv.low_inc.completed_by.4yrs,t_iv.low_inc.completed_by.,4yrs,1778
332,t_iv.still_enrolled_by.3yrs,t_iv.still_enrolled_by.,3yrs,1781
333,t_iv.withdrawn_by.6yrs,t_iv.withdrawn_by.,6yrs,1781
411,t_iv.withdrawn_by.4yrs,t_iv.withdrawn_by.,4yrs,1849
419,t_iv.withdrawn_by.2yrs,t_iv.withdrawn_by.,2yrs,1852
440,t_iv.withdrawn_by.3yrs,t_iv.withdrawn_by.,3yrs,1869
450,t_iv.completed_by.8yrs,t_iv.completed_by.,8yrs,1874
491,t_iv.completed_by.3yrs,t_iv.completed_by.,3yrs,1889
522,t_iv.completed_by.6yrs,t_iv.completed_by.,6yrs,1899
550,t_iv.still_enrolled_by.2yrs,t_iv.still_enrolled_by.,2yrs,1914
552,t_iv.completed_by.4yrs,t_iv.completed_by.,4yrs,1915

In [26]:
drop_1=drop_1.drop([col for col in drop_1 if 'male' in col and 't_iv' in col], axis=1)
drop_1=drop_1.drop([col for col in drop_1 if 'inc' in col and 't_iv' in col], axis=1)
drop_1=drop_1.drop([col for col in drop_1 if '1st' in col and 't_iv' in col], axis=1)
drop_1=drop_1.drop([col for col in drop_1 if 'pell' in col and 't_iv' in col], axis=1)
drop_1=drop_1.drop([col for col in drop_1 if 'loan' in col and 't_iv' in col], axis=1)
drop_1=drop_1.drop([col for col in drop_1 if 'depend' in col and 't_iv' in col], axis=1)
drop_1=drop_1.drop([col for col in drop_1 if 't_iv.still_enrolled_by' in col and 
                    ('2yrs' not in col and '3yrs' not in col)],axis=1)
counts2=drop_1.count().sort_values().reset_index()
counts2.columns=['colu','num']
t_iv_counts2=counts2[(counts2['colu'].str.contains('t_iv')) & (counts2['colu'].str.contains('yrs'))]
t_iv_counts2.insert(1,'group',t_iv_counts2['colu'].str[:-4])
t_iv_counts2.insert(2,'yr',t_iv_counts2['colu'].str[-4:])
t_iv_counts2.sort_values(by=['num'])

                            colu                    group    yr   num
88        t_iv.withdrawn_by.8yrs       t_iv.withdrawn_by.  8yrs  1738
89        t_iv.completed_by.2yrs       t_iv.completed_by.  2yrs  1760
97        t_iv.withdrawn_by.6yrs       t_iv.withdrawn_by.  6yrs  1781
98   t_iv.still_enrolled_by.3yrs  t_iv.still_enrolled_by.  3yrs  1781
133       t_iv.withdrawn_by.4yrs       t_iv.withdrawn_by.  4yrs  1849
139       t_iv.withdrawn_by.2yrs       t_iv.withdrawn_by.  2yrs  1852
153       t_iv.withdrawn_by.3yrs       t_iv.withdrawn_by.  3yrs  1869
161       t_iv.completed_by.8yrs       t_iv.completed_by.  8yrs  1874
191       t_iv.completed_by.3yrs       t_iv.completed_by.  3yrs  1889
219       t_iv.completed_by.6yrs       t_iv.completed_by.  6yrs  1899
233  t_iv.still_enrolled_by.2yrs  t_iv.still_enrolled_by.  2yrs  1914
234       t_iv.completed_by.4yrs       t_iv.completed_by.  4yrs  1915

In [28]:
pd.options.display.max_rows= None #allows us to see more variables
earn_counts=counts[(counts['colu'].str.contains('yrs_AE'))]
earn_counts.set_index('colu',inplace=True)
# earn_counts.sort_values(by=['num'])
earn_counts['num']

colu
6_yrs_AE.mean_earnings.independent         1465
6_yrs_AE.mean_earnings.dependent           1465
10_yrs_AE.mean_earnings.dependent          1482
10_yrs_AE.mean_earnings.independent        1482
6_yrs_AE.WNE.overall                       1593
6_yrs_AE.not_WNE.overall                   1593
10_yrs_AE.mean_earnings.middle_tercile     1642
6_yrs_AE.independent                       1646
6_yrs_AE.WNE.dependent                     1646
6_yrs_AE.mean_earnings.middle_tercile      1648
8_yrs_AE.not_WNE.overall                   1658
8_yrs_AE.WNE.overall                       1658
10_yrs_AE.independent                      1660
10_yrs_AE.WNE.dependent                    1660
10_yrs_AE.mean_earnings.highest_tercile    1678
10_yrs_AE.mean_earnings.lowest_tercile     1681
10_yrs_AE.mean_earnings.male_students      1695
10_yrs_AE.mean_earnings.female_students    1695
6_yrs_AE.mean_earnings.highest_tercile     1704
6_yrs_AE.mean_earnings.lowest_tercile      1709
6_yrs_AE.mean_earnings.male_students       1724
6_yrs_AE.mean_earnings.female_students     1724
10_yrs_AE.not_WNE.overall                  1726
10_yrs_AE.WNE.overall                      1726
10_yrs_AE.male_students                    1769
10_yrs_AE.female_students                  1769
10_yrs_AE.WNE.income.highest_tercile       1777
10_yrs_AE.WNE.income.middle_tercile        1784
6_yrs_AE.WNE.income.highest_tercile        1792
6_yrs_AE.female_students                   1800
6_yrs_AE.male_students                     1800
6_yrs_AE.WNE.income.middle_tercile         1802
10_yrs_AE.WNE.earnings_pctl.75             1815
10_yrs_AE.WNE.earnings_pctl.25             1815
10_yrs_AE.WNE.income.lowest_tercile        1823
8_yrs_AE.75th_pctl_earnings                1825
8_yrs_AE.25th_pctl_earnings                1825
6_yrs_AE.WNE.earnings_pctl.75              1834
6_yrs_AE.WNE.earnings_pctl.25              1834
6_yrs_AE.WNE.income.lowest_tercile         1841
10_yrs_AE.median                           1871
10_yrs_AE.WNE.std_dev                      1871
10_yrs_AE.pct>28000                        1871
10_yrs_AE.WNE.mean_earnings                1871
8_yrs_AE.pct>28000                         1881
8_yrs_AE.std_deviation                     1881
8_yrs_AE.median_earnings                   1881
8_yrs_AE.mean_earnings                     1881
6_yrs_AE.WNE.mean_earnings                 1895
6_yrs_AE.median                            1895
6_yrs_AE.WNE.std_dev                       1895
6_yrs_AE.pct>28000                         1895
Name: num, dtype: int64

In [29]:
drop_1=drop_1.drop([col for col in drop_1 if 'dependent' in col and 'yrs_AE' in col], axis=1)
drop_1=drop_1.drop([col for col in drop_1 if 'male' in col and 'yrs_AE' in col], axis=1)
drop_1=drop_1.drop([col for col in drop_1 if 'pctl' in col and 'yrs_AE' in col], axis=1)
drop_1=drop_1.drop([col for col in drop_1 if 'tercile' in col and 'yrs_AE' in col], axis=1)
#dropping because WNE is a number, which would make comparison between small and large colleges misleading
drop_1=drop_1.drop([col for col in drop_1 if 'overall' in col and 'yrs_AE' in col], axis=1)
drop_1=drop_1.drop([col for col in drop_1 if 'WNE' in col and '8_yrs_AE' in col], axis=1) 
drop_1=drop_1.drop([col for col in drop_1 if 'yrs_AE' in col and '6' not in col],axis=1)
#CHECKING ON VARIABLES AGAIN
counts2=drop_1.count().sort_values().reset_index()
counts2.columns=['colu','num']
earn_counts2=counts2[(counts2['colu'].str.contains('yrs_AE'))]
earn_counts2.insert(1,'year',earn_counts2['colu'].str.split('_AE').str[0])
earn_counts2.insert(2,'group',earn_counts2['colu'].str.split('AE.').str[1])
#earn_counts2.sort_values(by=['num'])

In [111]:
counts[counts['colu'].str.contains('median_debt')].set_index('colu').num

colu
median_debt.dependent                        1777
median_debt.independent                      1777
median_debt.number.independent               1842
median_debt.number.dependent                 1842
median_debt.income.>75000                    1851
median_debt.income.30001_75000               1853
median_debt.female_students                  1876
median_debt.male_students                    1876
median_debt_suppressed.completers.overall    1883
median_debt.no_pell_grant                    1887
median_debt.pell_grant                       1887
median_debt.number.income.>75000             1895
median_debt.number.income.30001_75000        1896
median_debt.1st_gen_students                 1898
median_debt.non_1st_gen_students             1898
median_debt.completers.overall               1902
median_debt.income.0_30000                   1903
median_debt.number.female_students           1907
median_debt.number.male_students             1907
median_debt.noncompleters                    1908
median_debt.number.pell_grant                1917
median_debt.number.no_pell_grant             1917
median_debt.number.noncompleters             1922
median_debt.number.completers                1923
median_debt.number.non_1st_gen_students      1929
median_debt.number.1st_gen_students          1929
median_debt.number.income.0_30000            1930
median_debt_suppressed.overall               1936
median_debt.overall                          1951
median_debt.number.overall                   1957
Name: num, dtype: int64

In [112]:
drop_1=drop_1.drop([col for col in drop_1 if 'median_debt' in col and 'overall' not in col],axis=1)
drop_1=drop_1.drop([col for col in drop_1 if 'median_debt' in col and ('completers' in col or 'number' in col)],
                   axis=1)
counts2=drop_1.count().sort_values().reset_index()
counts2.columns=['colu','num']
debt_counts2=counts2[(counts2['colu'].str.contains('median_debt'))]
debt_counts2

                               colu   num
183  median_debt_suppressed.overall  1936
186             median_debt.overall  1951

In [113]:
counts[counts.colu.str.contains('share')].set_index('colu').num

colu
share_dependent_highincome.110001+             870
share_independent_highincome.110001+           870
share_dependent_highincome.75001_110000        884
share_independent_highincome.75001_110000      884
share_independent_middleincome.48001_75000    1217
share_dependent_middleincome.48001_75000      1217
share_independent_middleincome.30001_48000    1349
share_dependent_middleincome.300001_48000     1349
share_firstgeneration_parents.highschool      1430
share_firstgeneration_parents.middleschool    1430
share_dependent_lowincome.0_300000            1567
share_independent_lowincome.0_30000           1567
share_highincome.75001_110000                 1822
share_highincome.110001+                      1828
share_firstgeneration_parents.somecollege     1862
share_firstgeneration                         1862
share_independent                             1888
share_middleincome.48001_75000                1909
demographics.female_share                     1918
share_middleincome.30001_48000                1923
share_first.time_full.time                    1951
share_lowincome.0_30000                       1985
part_time_share                               2039
Name: num, dtype: int64

In [114]:
drop_1=drop_1.drop([col for col in drop_1 if 'share' in col and 'time' not in col],axis=1)

In [115]:
counts[(counts['colu'].str.startswith('sat')) | (counts['colu'].str.startswith('act'))].set_index('colu').num

colu
act.75th_pctl.writing              291
act.25th_pctl.writing              291
act.midpoint.writing               291
sat.25th_pctl.writing              714
sat.midpoint.writing               714
sat.75th_pctl.writing              714
act.25th_pctl.english             1064
act.75th_pctl.english             1064
act.midpoint.english              1064
act.75th_pctl.math                1066
act.midpoint.math                 1066
act.25th_pctl.math                1066
sat.75th_pctl.critical_reading    1151
sat.25th_pctl.critical_reading    1151
sat.midpoint.critical_reading     1151
sat.25th_pctl.math                1164
sat.75th_pctl.math                1164
sat.midpoint.math                 1164
act.midpoint.cumulative           1208
act.75th_pctl.cumulative          1208
act.25th_pctl.cumulative          1208
sat.average.overall               1251
sat.average.by_ope_id             1272
Name: num, dtype: int64

In [116]:
drop_1=drop_1.drop([col for col in drop_1 if 'sat' in col or 'act' in col],axis=1)

In [117]:
#the 1st is a sub-demographic variable, the last two are cohort counts
drop_2=drop_1.drop(['compl_rate_4yr_150_nonresident.alien','3_yr_default_rate_denom',
                   'transf_rate.cohort_4yr.full_time'],axis=1)
drop_2=drop_2.drop([col for col in drop_2 if 'compl_rate_4yr_150' in col and 'nt' not in col],axis=1)
#getting rid of columns having to do with cohort counts
drop_2=drop_2.drop([col for col in drop_2 if 'yr_compl' in col],axis=1) # num of students in completion rate cohort
drop_2=drop_2.drop([col for col in drop_2 if 'number' in col], axis=1) # various cohort counts
drop_2=drop_2.drop([col for col in drop_2 if 't_iv' in col and 'all' in col],axis=1) # income cohort counts
drop_2=drop_2.drop([col for col in drop_2 if 'compl_cohort' in col],axis=1)
drop_2=drop_2.drop([col for col in drop_2 if 'family_income' in col and 'demographics' not in col], axis=1)

In [118]:
for column in [col for col in drop_2 if 'bach' in col]:
    drop_2[column]=drop_2[column].astype('category')
for column in ['online_only','main_campus','open_admissions_policy','region_id','ownership',
               'degrees_awarded.highest','id']:
    drop_2[column]=drop_2[column].astype('category')
drop_2['zip']=drop_2['zip'].str[:5]
drop_2['zip']=drop_2['zip'].astype('category')

In [119]:
#corr_find are the variables that we will potentially be keeping for our dataset
corr_find=drop_2.drop('admission_rate.overall',axis=1).copy()
corr_find=corr_find.drop([col for col in corr_find if 'cumulative_debt' in col], axis=1)
corr_find=corr_find.drop([col for col in corr_find if 'dependent' in col],axis=1)
corr_find=corr_find.drop([col for col in corr_find if 'program_pctg' in col],axis=1)
corr_find=corr_find.drop([col for col in corr_find if 'demographics' in col],axis=1)
corr_find=corr_find.drop([col for col in corr_find if 'share' in col and 'time' not in col],axis=1)
corr_find=corr_find.drop([col for col in corr_find if '6_yrs_AE' in col and 'mean' not in col],axis=1)
corr_find=corr_find.drop([col for col in corr_find if 'yr_repay' in col and '1' not in col],axis=1)
corr_find=corr_find.drop([col for col in corr_find if 'fafsa_sent' in col and '2' not in col],axis=1)
corr_find=corr_find.drop([col for col in corr_find if 'compl_rate_4yr' in col and '150nt' not in col],axis=1)
#we drop these separately from the variables above because we'll use them to fill in NA values
drop_3=corr_find.drop([col for col in corr_find if 't_iv.completed_by' in col and '4' not in col],axis=1)
drop_3=drop_3.drop([col for col in drop_3 if 'still_enrolled_by' in col and '2' not in col],axis=1)
drop_3=drop_3.drop([col for col in drop_3 if 'withdrawn_by' in col and '3' not in col],axis=1)
counts3=drop_3.count().reset_index()
counts3.columns=['colu','num']

In [120]:
corr_find_1=corr_find[['name','1_yr_repay.overall_rate', '6_yrs_AE.WNE.mean_earnings', 'size',
                       'part_time_share', 'avg_net_price', 'tuition_revenue_per_fte',
                       'instructional_expenditure_per_fte','faculty_salary', 'pell_grant_rate', 
                       'federal_loan_rate', '3_yr_default_rate', 't_iv.completed_by.4yrs', 'median_debt.overall', ]]
corr_find_1.corr()
# corr_find[['pell_grant_rate','students_with_pell_grant']].corr()

,1_yr_repay.overall_rate,6_yrs_AE.WNE.mean_earnings,size,part_time_share,avg_net_price,tuition_revenue_per_fte,instructional_expenditure_per_fte,faculty_salary,pell_grant_rate,federal_loan_rate,3_yr_default_rate,t_iv.completed_by.4yrs,median_debt.overall
1_yr_repay.overall_rate,1.000000,0.535407,0.082898,-0.418458,0.246027,0.330718,0.441072,0.565955,-0.772606,-0.318293,-0.784949,0.808449,0.468944
6_yrs_AE.WNE.mean_earnings,0.535407,1.000000,0.133924,-0.010400,0.321499,0.418986,0.435387,0.607622,-0.565049,-0.169818,-0.578129,0.553586,0.272062
size,0.082898,0.133924,1.000000,0.003593,-0.160855,-0.128237,0.021943,0.331241,-0.146453,-0.172272,-0.109065,0.084675,-0.098326
part_time_share,-0.418458,-0.010400,0.003593,1.000000,-0.097458,-0.149401,-0.197910,-0.176743,0.230223,0.090035,0.196799,-0.410598,-0.341326
avg_net_price,0.246027,0.321499,-0.160855,-0.097458,1.000000,0.744192,0.215713,0.251145,-0.368287,0.281873,-0.303651,0.340943,0.541218
tuition_revenue_per_fte,0.330718,0.418986,-0.128237,-0.149401,0.744192,1.000000,0.299210,0.366605,-0.367907,0.108560,-0.354903,0.467295,0.485350
instructional_expenditure_per_fte,0.441072,0.435387,0.021943,-0.197910,0.215713,0.299210,1.000000,0.406863,-0.323020,-0.126493,-0.295300,0.413712,0.088520
faculty_salary,0.565955,0.607622,0.331241,-0.176743,0.251145,0.366605,0.406863,1.000000,-0.530440,-0.083753,-0.518648,0.589693,0.313769
pell_grant_rate,-0.772606,-0.565049,-0.146453,0.230223,-0.368287,-0.367907,-0.323020,-0.530440,1.000000,0.271691,0.690997,-0.677158,-0.402338
federal_loan_rate,-0.318293,-0.169818,-0.172272,0.090035,0.281873,0.108560,-0.126493,-0.083753,0.271691,1.000000,0.244777,-0.193792,0.275455
3_yr_default_rate,-0.784949,-0.578129,-0.109065,0.196799,-0.303651,-0.354903,-0.295300,-0.518648,0.690997,0.244777,1.000000,-0.731840,-0.422469
t_iv.completed_by.4yrs,0.808449,0.553586,0.084675,-0.410598,0.340943,0.467295,0.413712,0.589693,-0.677158,-0.193792,-0.731840,1.000000,0.540473
median_debt.overall,0.468944,0.272062,-0.098326,-0.341326,0.541218,0.485350,0.088520,0.313769,-0.402338,0.275455,-0.422469,0.540473,1.000000

In [121]:
corr_find_2=corr_find[['name','1_yr_repay.overall_rate','6_yrs_AE.WNE.mean_earnings','admission_rate.by_ope_id',
                      'attendance.academic_year','tuition.in_state','tuition.out_of_state','ft_faculty_rate',
                      'compl_rate_4yr_150nt','share_first.time_full.time', 'retention_rate.four_year.full_time',
                       't_iv.still_enrolled_by.2yrs', 't_iv.withdrawn_by.3yrs','fafsa_sent.2_college_allyrs',
                       'transf_rate.4yr.full_time']]
# corr_find_2['ownership']=corr_find_2['ownership'].astype('int64')
# corr_find_2['online_only']=corr_find_2['online_only'].astype('int64')
corr_find_2.corr()

,1_yr_repay.overall_rate,6_yrs_AE.WNE.mean_earnings,admission_rate.by_ope_id,attendance.academic_year,tuition.in_state,tuition.out_of_state,ft_faculty_rate,compl_rate_4yr_150nt,share_first.time_full.time,retention_rate.four_year.full_time,t_iv.still_enrolled_by.2yrs,t_iv.withdrawn_by.3yrs,fafsa_sent.2_college_allyrs,transf_rate.4yr.full_time
1_yr_repay.overall_rate,1.000000,0.535407,-0.130124,0.476940,0.499171,0.646503,0.295385,0.759924,0.554468,0.673147,0.747833,-0.739344,0.323761,-0.111795
6_yrs_AE.WNE.mean_earnings,0.535407,1.000000,-0.244153,0.406823,0.373958,0.477513,0.040877,0.506639,0.064795,0.399533,0.334082,-0.338082,0.117539,-0.060403
admission_rate.by_ope_id,-0.130124,-0.244153,1.000000,-0.260638,-0.246229,-0.289839,-0.059397,-0.309655,-0.163120,-0.231825,-0.243483,0.219785,-0.171687,0.159211
attendance.academic_year,0.476940,0.406823,-0.260638,1.000000,0.973435,0.889771,0.020773,0.563480,0.393426,0.337868,0.476158,-0.408476,0.477131,-0.244610
tuition.in_state,0.499171,0.373958,-0.246229,0.973435,1.000000,0.897190,0.046559,0.544631,0.426316,0.339646,0.487227,-0.431849,0.476628,-0.227973
tuition.out_of_state,0.646503,0.477513,-0.289839,0.889771,0.897190,1.000000,0.141583,0.666627,0.513385,0.477145,0.649775,-0.588487,0.596841,-0.211954
ft_faculty_rate,0.295385,0.040877,-0.059397,0.020773,0.046559,0.141583,1.000000,0.244372,0.389046,0.282679,0.278340,-0.330121,0.149548,-0.003248
compl_rate_4yr_150nt,0.759924,0.506639,-0.309655,0.563480,0.544631,0.666627,0.244372,1.000000,0.508104,0.654220,0.755377,-0.690713,0.389402,-0.269548
share_first.time_full.time,0.554468,0.064795,-0.163120,0.393426,0.426316,0.513385,0.389046,0.508104,1.000000,0.475880,0.618679,-0.614780,0.441294,-0.125090
retention_rate.four_year.full_time,0.673147,0.399533,-0.231825,0.337868,0.339646,0.477145,0.282679,0.654220,0.475880,1.000000,0.722758,-0.627001,0.311990,-0.030224
t_iv.still_enrolled_by.2yrs,0.747833,0.334082,-0.243483,0.476158,0.487227,0.649775,0.278340,0.755377,0.618679,0.722758,1.000000,-0.768932,0.499407,-0.130187
t_iv.withdrawn_by.3yrs,-0.739344,-0.338082,0.219785,-0.408476,-0.431849,-0.588487,-0.330121,-0.690713,-0.614780,-0.627001,-0.768932,1.000000,-0.487028,0.106327
fafsa_sent.2_college_allyrs,0.323761,0.117539,-0.171687,0.477131,0.476628,0.596841,0.149548,0.389402,0.441294,0.311990,0.499407,-0.487028,1.000000,-0.076066
transf_rate.4yr.full_time,-0.111795,-0.060403,0.159211,-0.244610,-0.227973,-0.211954,-0.003248,-0.269548,-0.125090,-0.030224,-0.130187,0.106327,-0.076066,1.000000

In [127]:
corr_find.columns

Index(['id', 'name', 'city', 'state', 'zip', 'main_campus', 'branches',
       'degrees_awarded.highest', 'ownership', 'region_id',
       'admission_rate.by_ope_id', 'bach.agriculture', 'bach.resources',
       'bach.architecture', 'bach.ethnic_cultural_gender',
       'bach.communication', 'bach.communications_technology', 'bach.computer',
       'bach.personal_culinary', 'bach.education', 'bach.engineering',
       'bach.engineering_technology', 'bach.language',
       'bach.family_consumer_science', 'bach.legal', 'bach.english',
       'bach.humanities', 'bach.library', 'bach.biological',
       'bach.mathematics', 'bach.military', 'bach.multidiscipline',
       'bach.parks_recreation_fitness', 'bach.philosophy_religious',
       'bach.theology_religious_vocation', 'bach.physical_science',
       'bach.science_technology', 'bach.psychology',
       'bach.security_law_enforcement',
       'bach.public_administration_social_service', 'bach.social_science',
       'bach.construction', 'bach.mechanic_repair_technology',
       'bach.precision_production', 'bach.transportation',
       'bach.visual_performing', 'bach.health', 'bach.business_marketing',
       'bach.history', 'online_only', 'size', 'part_time_share',
       'avg_net_price', 'attendance.academic_year', 'tuition.in_state',
       'tuition.out_of_state', 'tuition_revenue_per_fte',
       'instructional_expenditure_per_fte', 'faculty_salary',
       'ft_faculty_rate', 'pell_grant_rate', 'compl_rate_4yr_150nt',
       'share_first.time_full.time', 'retention_rate.four_year.full_time',
       'federal_loan_rate', '3_yr_default_rate', 't_iv.completed_by.2yrs',
       't_iv.withdrawn_by.2yrs', 't_iv.still_enrolled_by.2yrs',
       't_iv.completed_by.3yrs', 't_iv.withdrawn_by.3yrs',
       't_iv.still_enrolled_by.3yrs', 't_iv.completed_by.4yrs',
       't_iv.withdrawn_by.4yrs', 't_iv.completed_by.6yrs',
       't_iv.withdrawn_by.6yrs', 't_iv.completed_by.8yrs',
       't_iv.withdrawn_by.8yrs', '1_yr_repay.overall_rate',
       'fafsa_sent.2_college_allyrs', 'median_debt.overall',
       'students_with_any_loan', 'students_with_pell_grant',
       '6_yrs_AE.WNE.mean_earnings', 'median_debt_suppressed.overall',
       'transf_rate.4yr.full_time', 'open_admissions_policy',
       'program_reporter.programs_offered',
       'program_reporter.program_1.cip_6_digit.code',
       'program_reporter.program_1.cip_6_digit.title',
       'program_reporter.program_1.cip_6_digit.full_program',
       'program_reporter.program_1.cip_6_digit.annualized',
       'program_reporter.program_1.cip_6_digit.avg_month_compl'],
      dtype='object')

### Verified till this point

In [64]:
cc=corr_find[(corr_find['1_yr_repay.overall_rate'].notnull()) &
                   (corr_find['6_yrs_AE.WNE.mean_earnings'].notnull())].reset_index(drop=True).copy()
list_of_cols=['id', 'name', 'city', 'state', 'zip', 'region_id', 'ownership', 'online_only', 
              'open_admissions_policy', 'bach.agriculture','bach.resources', 'bach.architecture',
              'bach.ethnic_cultural_gender', 'bach.communication', 'bach.communications_technology',
              'bach.computer', 'bach.personal_culinary', 'bach.education', 'bach.engineering',
              'bach.engineering_technology', 'bach.language', 'bach.family_consumer_science', 'bach.legal',
              'bach.english', 'bach.humanities', 'bach.library', 'bach.biological', 'bach.mathematics',
              'bach.military', 'bach.multidiscipline', 'bach.parks_recreation_fitness',
              'bach.philosophy_religious', 'bach.theology_religious_vocation', 'bach.physical_science',
              'bach.science_technology', 'bach.psychology', 'bach.security_law_enforcement',
              'bach.public_administration_social_service', 'bach.social_science', 'bach.construction',
              'bach.mechanic_repair_technology', 'bach.precision_production', 'bach.transportation',
              'bach.visual_performing', 'bach.health', 'bach.business_marketing', 'bach.history',
              '1_yr_repay.overall_rate', '6_yrs_AE.WNE.mean_earnings', 'part_time_share',
               'attendance.academic_year','tuition.in_state','tuition.out_of_state',
              'tuition_revenue_per_fte', 'instructional_expenditure_per_fte', 'faculty_salary', 
               'pell_grant_rate','compl_rate_4yr_150nt','share_first.time_full.time', 
              'retention_rate.four_year.full_time','3_yr_default_rate','t_iv.still_enrolled_by.2yrs',
              't_iv.withdrawn_by.3yrs','t_iv.completed_by.4yrs','median_debt.overall'
             ]
#the final list of variables to include in my trimmed dataset
corr_list=cc[list_of_cols].copy()
ccreport=pandas_profiling.ProfileReport(corr_list,check_correlation=True)
ccreport.to_file(outputfile="corr_report_preliminary.html")

NameError: name 'pandas_profiling' is not defined

In [ ]:

corr_list.count().sort_values().reset_index()
corr_list.corr()

In [ ]:
#ignore attendance
corr_list=corr_list.drop([col for col in corr_list if 'attendance' in col],axis=1)
corr_count=corr_list.drop([col for col in corr_list if 'bach' in col],axis=1).count().sort_values().reset_index()
corr_count.columns=['colu','num']
corr_count

In [ ]:
#looking at rows where compl_rate_4yr_150nt is null
cc[cc['compl_rate_4yr_150nt'].isnull()][
    ['t_iv.completed_by.6yrs']].info()

In [13]:
cc[(cc['compl_rate_4yr_150nt']==0) & (cc['t_iv.completed_by.6yrs']!=0)][
    ['t_iv.completed_by.6yrs']].info()

NameError: name 'cc' is not defined

In [14]:
#filling in enough null values and 0 completion rates using Title IV 6-year completion rates
cc.loc[:,'compl_rate_4yr_150nt'].fillna(cc.loc[:,'t_iv.completed_by.6yrs'],inplace=True)
cc.loc[:,'compl_rate_4yr_150nt'].replace(0,cc.loc[:,'t_iv.completed_by.6yrs'],inplace=True)

NameError: name 'cc' is not defined

In [15]:
cc[cc['retention_rate.four_year.full_time'].isnull()][['retention_rate.four_year.full_time',
                                                        't_iv.still_enrolled_by.2yrs']].info()

NameError: name 'cc' is not defined

In [16]:
cc[(cc['retention_rate.four_year.full_time']==0)& (cc['t_iv.still_enrolled_by.2yrs']!=0)][[
    't_iv.still_enrolled_by.2yrs']].info()

NameError: name 'cc' is not defined

In [17]:
cc.loc[:,'retention_rate.four_year.full_time'].fillna(cc.loc[:,'t_iv.still_enrolled_by.2yrs'],inplace=True)
cc.loc[:,'retention_rate.four_year.full_time'].replace(0,cc.loc[:,'t_iv.still_enrolled_by.2yrs'],inplace=True)

NameError: name 'cc' is not defined

In [18]:
college_type=cc.groupby(['ownership'])
netprice_mean_bygroup=college_type['avg_net_price'].mean()
instate_mean_bygroup=college_type['tuition.in_state'].mean()
outofstate_mean_bygroup=college_type['tuition.out_of_state'].mean()
pd.concat([netprice_mean_bygroup,instate_mean_bygroup,outofstate_mean_bygroup],axis=1)

NameError: name 'cc' is not defined

In [19]:
def impute_mean(series):
    return series.fillna(series.mean())

cc['avg_net_price']=college_type['avg_net_price'].transform(impute_mean)
cc['tuition.in_state']=college_type['tuition.in_state'].transform(impute_mean)
cc['tuition.out_of_state']=college_type['tuition.out_of_state'].transform(impute_mean)

NameError: name 'college_type' is not defined

In [20]:
#filling na with mean for certain variables
cc['faculty_salary'].fillna(np.mean(cc['faculty_salary']),inplace=True)
cc['t_iv.withdrawn_by.3yrs'].fillna(np.mean(cc['t_iv.withdrawn_by.3yrs']),inplace=True)

NameError: name 'cc' is not defined

In [21]:
cond1=(cc['share_first.time_full.time']==0) &  (cc['part_time_share']!=0)
cond2=(cc['share_first.time_full.time'].isnull())\
&(cc['part_time_share'].notnull())\
&(cc['part_time_share']!=0)
cond3=(cc['share_first.time_full.time']==0) &  (cc['part_time_share']==0)

cc['share_first.time_full.time']=cc['share_first.time_full.time'].mask(cond2,1-cc['part_time_share'])
cc['share_first.time_full.time']=cc['share_first.time_full.time'].mask(cond1,1-cc['part_time_share'])
cc[(cc['share_first.time_full.time'].isnull()) | (cc['share_first.time_full.time']==0)]['share_first.time_full.time']

NameError: name 'cc' is not defined

In [22]:
cc['open_admissions_policy']=cc['open_admissions_policy'].cat.add_categories([0]) #0 indicates unknown value
cc['open_admissions_policy'].fillna(0, inplace=True)

NameError: name 'cc' is not defined

In [23]:
corr_list2=cc[list_of_cols].drop(['t_iv.completed_by.4yrs','t_iv.still_enrolled_by.2yrs',
                                  'attendance.academic_year','part_time_share'],axis=1)
ccreport=pandas_profiling.ProfileReport(corr_list2,check_correlation=True)
ccreport.to_file(outputfile="corr_report_final.html")
corr_count=corr_list2.count().sort_values().reset_index()
corr_count.columns=['colu','num']
corr_count
# corr_list2.corr()

NameError: name 'cc' is not defined

In [24]:
corr_list2.to_csv('2014_cleaned.csv',index=False)
# corr_list2=pd.read_csv('2014_cleaned.csv')
# corr_list2['main_campus']

NameError: name 'corr_list2' is not defined